@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");
html {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  color: #595959; }

.field {
  position: relative;
  margin-bottom: 2rem; }

h1 {
  margin-bottom: 1em;
  line-height: 1.5em; }

hr {
  border: 0;
  border-top: 1px solid #595959;
  margin: 1em 0; }

.label {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5em;
  max-width: 80%;
  text-align: left; }

.label::before {
  display: table;
  content: "";
  margin-top: -0.18em; }

.label::after {
  display: table;
  content: "";
  margin-bottom: -0.12em; }

.label--valid {
  color: #029146; }

.label--error {
  color: #B12A0B; }

.textbox ~ label {
  position: absolute;
  top: -0.5em;
  left: 0;
  background: #fff;
  margin-left: 10px;
  padding: 0 10px; }

.textbox {
  background: #fff;
  border: 1px solid #595959;
  border-radius: 3px;
  padding: 19px 20px;
  color: #595959;
  font-size: 1rem;
  width: 100%;
  height: 60px;
  box-sizing: border-box; }

.textbox--valid {
  border-color: #029146; }

.textbox--error {
  border-color: #B12A0B; }

.textbox ~ p.error {
  color: #B12A0B;
  margin: 1rem 20px 0;
  font-size: 0.75rem;
  line-height: 1.5em; }

.textarea {
  background: #fff;
  border: 1px solid #595959;
  border-radius: 3px;
  padding: 20px 20px;
  color: #595959;
  font-size: 1rem;
  line-height: 1.5em;
  width: 100%;
  min-height: 140px;
  height: auto;
  box-sizing: border-box;
  vertical-align: top; }
  .textarea ~ label {
    position: absolute;
    top: -0.5em;
    left: 0;
    background: #fff;
    margin-left: 10px;
    padding: 0 10px; }
  .textarea--valid {
    border-color: #029146; }
  .textarea--error {
    border-color: #B12A0B; }
  .textareap .error {
    color: #B12A0B;
    margin: 1rem 20px 0;
    font-size: 0.75rem;
    line-height: 1.5em; }
  .textarea:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    height: 5px; }

.textarea ~ p.error {
  color: #B12A0B;
  margin: 1rem 20px 0;
  font-size: 0.75rem;
  line-height: 1.5em; }

.checkbox {
  margin-bottom: 20px; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -9999rem; }
    .checkbox input[type="checkbox"] + label::after {
      content: none; }
    .checkbox input[type="checkbox"]:hover + label::after, .checkbox input[type="checkbox"]:focus + label::after {
      content: "";
      opacity: .4; }
    .checkbox input[type="checkbox"]:checked + label::before {
      background-color: rgba(0, 138, 52, 0.15); }
    .checkbox input[type="checkbox"]:checked + label::after {
      content: "";
      opacity: 1; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: #3b99fc auto 5px; }
  .checkbox label {
    position: relative;
    display: inline-block;
    line-height: 30px;
    padding-left: 50px; }
    .checkbox label::before, .checkbox label::after {
      content: "";
      display: inline-block;
      position: absolute; }
    .checkbox label::before {
      width: 28px;
      height: 28px;
      background: transparent;
      border: 1px solid #595959;
      border-radius: 3px;
      margin-right: 20px;
      left: 0;
      top: 0; }
    .checkbox label::after {
      width: 15px;
      height: 6px;
      top: 8px;
      left: 5px;
      border: 5px solid #008A34;
      border-top: none;
      border-right: none;
      background: transparent;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
