/**
TODO: AP get clarity on greens 
**/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600");
h1, h2, h3, h4, h5, h6 {
  color: #226267;
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

h1 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.27em; }

h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75em; }

p {
  color: #595959;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375em;
  margin: 0 0 1.75rem; }

a {
  color: #0192D0;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px dashed #0192D0; }

html {
  color: #595959;
  font-size: 16px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5em; }

.pa-fieldset {
  margin-bottom: 2rem;
  position: relative; }

hr {
  border: 0;
  border-top: 1px solid #595959;
  margin: 2em 0; }

.bckg--deer {
  background: url(../images/deer.jpg);
  height: 300px;
  background-size: cover;
  background-position: 50% 50%; }

.pa-label {
  background-color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5em;
  max-width: 80%;
  text-align: left; }

.pa-label::before {
  content: "";
  display: table;
  margin-top: -0.18em; }

.pa-label::after {
  content: "";
  display: table;
  margin-bottom: -0.12em; }

.pa-label--valid {
  color: #029146; }

.pa-label--error {
  color: #B12A0B; }

.pa-textbox ~ label {
  left: 0;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -0.5em; }

.pa-textbox {
  border: 1px solid #595959;
  border-radius: 3px;
  box-sizing: border-box;
  color: #595959;
  font-size: 1rem;
  height: 60px;
  padding: 19px 20px;
  width: 100%; }

.pa-textbox--error {
  border-color: #B12A0B; }

.pa-textbox ~ .pa-error {
  color: #B12A0B;
  font-size: 0.75rem;
  line-height: 1.5em;
  margin: 1rem 20px 0; }

.pa-textarea {
  background: #fff;
  border: 1px solid #595959;
  border-radius: 3px;
  box-sizing: border-box;
  color: #595959;
  font-size: 1rem;
  height: auto;
  line-height: 1.5em;
  min-height: 140px;
  padding: 20px 20px;
  vertical-align: top;
  width: 100%; }
  .pa-textarea ~ label {
    background: #fff;
    left: 0;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -0.5em; }
  .pa-textarea--valid {
    border-color: #029146; }
  .pa-textarea--error {
    border-color: #B12A0B; }
  .pa-textareap .pa-error {
    color: #B12A0B;
    font-size: 0.75rem;
    line-height: 1.5em;
    margin: 1rem 20px 0; }
  .pa-textarea:before {
    background: red;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.pa-textarea ~ .pa-error {
  color: #B12A0B;
  font-size: 0.75rem;
  line-height: 1.5em;
  margin: 1rem 20px 0; }

.pa-select {
  border: 1px solid #595959;
  border-radius: 3px;
  box-sizing: border-box;
  height: 50px;
  display: block;
  line-height: 50px;
  overflow: hidden;
  position: relative;
  width: 20em; }
  .pa-select ~ label {
    left: 0;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -0.5em; }
  .pa-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: #fff;
    background-image: none;
    border: 0 !important;
    box-shadow: none;
    color: #595959;
    font-size: 1rem;
    height: 100%;
    margin: 0;
    outline: 0;
    padding: 0 0 0 18px;
    width: 100%; }
    .pa-select select::-ms-expand {
      display: none; }
  .pa-select::before {
    background: rgba(2, 145, 70, 0.15);
    border-radius: 3px;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    content: '';
    padding: 0;
    pointer-events: none;
    position: absolute;
    transition: .25s all ease;
    -o-transition: .25s all ease;
    -webkit-transition: .25s all ease; }
  .pa-select::after {
    position: absolute;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #226267;
    content: '';
    display: inline-block;
    height: 1em;
    right: 15px;
    position: absolute;
    top: 10px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 1em; }
  .pa-select:hover::after {
    color: #f39c12; }

.pa-checkbox {
  margin-bottom: 20px; }
  .pa-checkbox input[type="checkbox"] {
    left: -9999rem;
    opacity: 0;
    position: absolute; }
    .pa-checkbox input[type="checkbox"] + label::after {
      content: none; }
    .pa-checkbox input[type="checkbox"]:hover + label::after, .pa-checkbox input[type="checkbox"]:focus + label::after {
      content: "";
      opacity: .4; }
    .pa-checkbox input[type="checkbox"]:checked + label {
      color: #008A34;
      font-weight: 600; }
      .pa-checkbox input[type="checkbox"]:checked + label::before {
        background-color: rgba(0, 138, 52, 0.15); }
      .pa-checkbox input[type="checkbox"]:checked + label::after {
        content: "";
        opacity: 1; }
    .pa-checkbox input[type="checkbox"]:focus + label::before {
      outline: #3b99fc auto 5px; }
  .pa-checkbox label {
    display: inline-block;
    line-height: 30px;
    padding-left: 50px;
    position: relative; }
    .pa-checkbox label::before, .pa-checkbox label::after {
      content: "";
      display: inline-block;
      position: absolute; }
    .pa-checkbox label::before {
      background: transparent;
      border: 1px solid #595959;
      border-radius: 3px;
      height: 28px;
      left: 0;
      margin-right: 20px;
      top: 0;
      width: 28px; }
    .pa-checkbox label::after {
      background: transparent;
      border: 5px solid #008A34;
      border-right: none;
      border-top: none;
      height: 6px;
      left: 5px;
      top: 8px;
      width: 15px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }

.pa-radiobutton {
  margin-bottom: 20px; }
  .pa-radiobutton input[type="radio"] {
    left: -9999rem;
    opacity: 0;
    position: absolute; }
    .pa-radiobutton input[type="radio"] + label::after {
      content: none; }
    .pa-radiobutton input[type="radio"]:hover + label::after, .pa-radiobutton input[type="radio"]:focus + label::after {
      content: "";
      opacity: .4; }
    .pa-radiobutton input[type="radio"]:checked + label {
      color: #008A34;
      font-weight: 600; }
      .pa-radiobutton input[type="radio"]:checked + label::before {
        background-color: rgba(0, 138, 52, 0.15); }
      .pa-radiobutton input[type="radio"]:checked + label::after {
        content: "";
        opacity: 1; }
    .pa-radiobutton input[type="radio"]:focus + label::before {
      outline: #3b99fc auto 5px; }
  .pa-radiobutton label {
    display: inline-block;
    line-height: 30px;
    padding-left: 50px;
    position: relative; }
    .pa-radiobutton label::before, .pa-radiobutton label::after {
      content: "";
      display: inline-block;
      position: absolute; }
    .pa-radiobutton label::before {
      background: transparent;
      border: 1px solid #595959;
      border-radius: 14px;
      height: 28px;
      left: 0;
      margin-right: 20px;
      top: 0;
      width: 28px; }
    .pa-radiobutton label::after {
      background: #008A34;
      border-radius: 9px;
      height: 18px;
      left: 6px;
      top: 6px;
      width: 18px; }

.pa-button {
  cursor: pointer;
  background-color: rgba(2, 145, 70, 0.05);
  border: 0;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  padding: 10px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }
  .pa-button:hover {
    background-color: rgba(2, 145, 70, 0.15); }
  .pa-button:active button {
    line-height: 40px;
    margin: 10px;
    padding: 0 30px; }
  .pa-button button {
    background-color: #008A34;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    min-width: 100px;
    padding: 0 40px;
    transition: all 0.05s ease-out;
    -webkit-transition: all 0.05s ease-out;
    -moz-transition: all 0.05s ease-out;
    -o-transition: all 0.05s ease-out;
    width: auto;
    /* TODO - onRelease()
        line-height: 70px;
        margin: 5px;
        padding: 0 45px;
        */ }
  .pa-button--destructive {
    background-color: rgba(177, 42, 11, 0.05); }
    .pa-button--destructive:hover {
      background-color: rgba(177, 42, 11, 0.15); }
    .pa-button--destructive button {
      background-color: #B12A0B; }
  .pa-button--text-only {
    background: transparent;
    margin: 0;
    padding: 5px 10px 5px; }
    .pa-button--text-only button {
      background: transparent;
      color: #0192D0;
      font-size: 1rem;
      line-height: 1rem;
      padding: 0; }
    .pa-button--text-only:hover {
      background-color: transparent; }
    .pa-button--text-only:active button {
      line-height: 60px;
      margin: 0;
      padding: 0; }
  .pa-button--w-xsmall button {
    min-width: 120px; }
  .pa-button--w-small button {
    min-width: 160px; }
  .pa-button--w-medium button {
    min-width: 200px; }
  .pa-button--w-large button {
    min-width: 240px; }
  .pa-button--w-xlarge button {
    min-width: 280px; }
  .pa-button--w-xxlarge button {
    min-width: 340px; }

.pa-button-group {
  display: block;
  width: auto; }
  .pa-button-group--stack-vertical .pa-button {
    display: table;
    margin-bottom: 20px; }
  .pa-button-group--w-xsmall button {
    min-width: 120px; }
  .pa-button-group--w-small button {
    min-width: 160px; }
  .pa-button-group--w-medium button {
    min-width: 200px; }
  .pa-button-group--w-large button {
    min-width: 240px; }
  .pa-button-group--w-xlarge button {
    min-width: 280px; }
  .pa-button-group--w-xxlarge button {
    min-width: 340px; }
  .pa-button-group--w-xxxlarge button {
    min-width: 340px; }
  .pa-button-group--centered {
    margin: 0 auto; }

ul {
  list-style-type: disc;
  padding-left: 18px; }
  ul li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625em;
    padding-left: 4px; }

ol {
  padding-left: 18px; }
  ol li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625em;
    padding-left: 4px; }

.pa-notification {
  background-color: #FEFDBC;
  height: 60px;
  position: relative; }
  .pa-notification p {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    margin: 0 4rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .pa-notification--image-overlay {
    background-color: rgba(254, 253, 188, 0.9); }
  .pa-notification__icon {
    height: 20px;
    left: 1rem;
    position: absolute;
    top: 20px;
    width: 20px; }
  .pa-notification--confirm {
    background: #CEEEDF; }
    .pa-notification--confirm--image-overlay {
      background-color: rgba(206, 238, 223, 0.9); }
