.pa-button {
    cursor: pointer;
    background-color: rgba(2, 145, 70, 0.05); // TODO - Refactor to use color map
    border: 0;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    padding: $sp-tiny;
    transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;

    &:hover {
        background-color: rgba(2, 145, 70, 0.15);
    }

    &:active {
        button {
            line-height: 44px;
            margin: $sp-tiny;
            padding: 0 $sp-semi;
        }
    }

    button {
        cursor: pointer;
        background-color: $color-green;
        border: 0;
        border-radius: 3px;
        color: $color-white;
        display: block;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 60px;
        margin: 0;
        min-width: 100px;
        padding: 0 40px;
        transition: all 0.05s ease-out;
            -webkit-transition: all 0.05s ease-out;
            -moz-transition: all 0.05s ease-out;
            -o-transition: all 0.05s ease-out;
        width: auto;

        /* TODO - onRelease()
        line-height: 70px;
        margin: 5px;
        padding: 0 45px;
        */        
    }

    // Destructive Variant
    &--destructive {
        background-color: rgba(177, 42, 11, 0.05); // TODO - Refactor to use color map
        
        &:hover {
            background-color: rgba(177, 42, 11, 0.15); // TODO - Refactor to use color map
        }

        button {
            background-color: $color-brick;
        }
    }

    // Text Only Variant
    &--text-only {
        background: transparent;
        button {
            background: transparent;
            color: $color-blue;
            font-size: 1rem;
            padding: 0;
        }
        &:hover {
            background-color: transparent; // TODO - Refactor to use color map
        }
        &:active {
            button {
                line-height: 60px;
                margin: 0;
                padding: 0;
            }                
        }
    }

    &--w-xsmall {
        button {
            min-width: 120px;
        }
    }

    &--w-small {
        button {
            min-width: 160px;
        }
    }

    &--w-medium {
        button {
            min-width: 200px;
        }
    }

    &--w-large {
        button {
            min-width: 240px;
        }
    }

    &--w-xlarge {
        button {
            min-width: 280px;
        }
    }

    &--w-xxlarge {
        button {
            min-width: 340px;
        }
    }
}

 .pa-button-group {
    display: block;
    width: auto; 

    &--stack-vertical {
        .pa-button {
            display: table;
            margin-bottom: $sp-normal;
        }
    }

    &--w-xsmall {
        .pa-button {
            button {
                min-width: 120px;
            }
            &:active {
                button {
                    min-width: 104px;
                }
            }
        }
    }

    &--w-small {
        .pa-button {
            button {
                min-width: 160px;
            }
            &:active {
                button {
                    min-width: 144px;
                }
            }
        }
    }

    &--w-medium {
        .pa-button {
            button {
                min-width: 200px;
            }
            &:active {
                button {
                    min-width: 184px;
                }
            }
        }
    }

    &--w-large {
        .pa-button {
            button {
                min-width: 240px;
            }
            &:active {
                button {
                    min-width: 224px;
                }
            }
        }
    }

    &--w-xlarge {
        .pa-button {
            button {
                min-width: 280px;
            }
            &:active {
                button {
                    min-width: 264px;
                }
            }
        }
    }

    &--w-xxlarge {
        .pa-button {
            button {
                min-width: 340px;
            }
            &:active {
                button {
                    min-width: 324px;
                }
            }
        }
    }

    &--centered {
        margin: 0 auto;
    }
}