.pa-card {

    width: 280px;
    background: rgba(#9B9B9B, 0.05); 
    padding: 10px;
    
    img {
        box-sizing: border-box;
        width: 100%;
    }

    &__info {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: map-get($color, 'black');

        & > div {
            flex: 1;            
        }

        &--price {
            font-size: $text-xlarge;
            font-weight: $weight-bold;
            position: relative;
            line-height: 1em;
        }
    
        &--symbol {
            vertical-align: top;
            font-size: $text-medium;
            margin-right: 0.15rem;
        }

        &--inner {
            display: inline-block;
            text-align: center;
            vertical-align: top;
        }

        &--timespan {
            color: map-get($color, 'light-gray');
            font-size: $text-regular;
            font-weight: $weight-regular;
            line-height: 1.5em;
            vertical-align: top;
        }

        &--location {
            font-size: $text-medium;
            font-weight: $weight-bold;
            text-align: right;
        }
    }

    &__description {
        font-size: $text-small;
        line-height: 1.25rem;
        margin: 10px 0 10px;
        padding: 0 6px;
    }
}