.pa-card {

    background: rgba(#9B9B9B, 0.05); 
    padding: $sp-tiny;
    // width: 280px;
    
    &__image {
        position: relative;
        img {
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
    }

    &__info {

        color: $color-black;

        &--price {
            background: rgba(#4A4A4A, 0.75);
            bottom: 0;
            color: $color-white;
            left: $sp-tiny;
            font-size: $text-large;
            font-weight: $weight-bold;
            position: absolute;
            padding: $sp-tiny $sp-tiny $sp-tiny/2 $sp-tiny;
        }
    
        &--symbol {
            display: inline-block;
            font-size: $text-medium;
            margin-right: 0.15rem;
            margin-top: -0.12rem;
            vertical-align: top;
        }

        &--number {
            display: inline-block;
            vertical-align: top;
        }

        &--inner {
            display: inline-block;
            text-align: center;
            vertical-align: top;
        }

        &--timespan {
            color: $color-white;
            font-size: $text-regular;
            font-weight: $weight-regular;
            line-height: 1.4em;
            vertical-align: top;
        }

        &--location {
            color: $color-black;
            font-size: $text-regular;
            font-weight: $weight-bold;
            margin: $sp-tiny 0;
            text-align: left;
        }

        &--description {
            color: $color-black;
            font-size: $text-regular;
            line-height: 1.25rem;
            margin: $sp-tiny 0 0;

            i {
                font-style: normal;
                color: $color-light-gray;
            }
        }
    }
}