.pa-checkbox {

    margin-bottom: 20px;

    input[type="checkbox"] {
        left: $offscreen;
        opacity: 0;
        position: absolute;

        &+label{
            &::after {
                content: none;
            }
        }

        &:hover {
            &+label {
                &::after {
                    content: "";
                    opacity: .4;
                }
            }
        }

        &:checked {
            &+label {
                color: map-get($color, 'brand-green');
                font-weight: 600;
                &::before {
                    background-color: rgba(0, 138, 52, 0.15); // TODO - Refactor to include color in gobals      
                }
                &::after {
                    content: "";
                    opacity: 1;
                }
            }
        }

        &:focus {
            &+label {
                &::before {
                    outline: rgb(59, 153, 252) auto 5px; // TODO - Refactor to include color in gobals
                }
            }
        }        
    }

    label {
        display: inline-block;
        line-height: 30px;
        padding-left: 50px;
        position: relative;

        &::before, &::after {
            content: "";
            display: inline-block;
            position: absolute;
        }

        &::before {
            background: transparent;
            border: 1px solid map-get($color, 'dark-gray');   
            border-radius: 3px;
            height: 28px;
            left: 0;
            margin-right: 20px;
            top: 0;
            width: 28px;
        }

        &::after {
            background: transparent;
            border: 5px solid map-get($color, 'brand-green');
            border-right: none;
            border-top: none;
            height: 6px;
            left: 5px;
            top: 8px;
            width: 15px;
            transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
        }
    }
}