// Brand colors
$color-brand-teal: #226267;
$color-brand-green: #019247;

// Interface colors
$color-green: $color-brand-green;
$color-blue: #0192D0;
$color-brick: #B12A0B;
$color-pale-green: #CEEEDF;
$color-pale-yellow: #FEFDBC;
$color-teal: $color-brand-teal;

// Utility colors
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #595959;
$color-light-gray: #9B9B9B;
$color-lighter-gray: #f7f7f7;
