@mixin li() {
    li {
        font-size: 1rem;
        font-weight: $weight-regular;
        line-height: 1.625em;
        padding-left: 4px;
    }    
}

ul {
    list-style-type: disc;
    padding-left: 18px;
    @include li();
}

ol {
    padding-left: 18px;
    @include li();
}