.pa-button {

    cursor: pointer;
    background-color: rgba(2, 145, 70, 0.05); // TODO - Refactor to use color map
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 $sp-small $sp-small 0;
    padding: $sp-tiny;
    font-size: 0;
    width: 100%;

    @media screen and (min-width: $breakpoint-md) {
        width: auto;
    }

    &:hover {
        background-color: rgba(2, 145, 70, 0.15);
    }    

    button {
        cursor: pointer;
        background-color: map-get($color, 'brand-green');;
        border: 0;
        border-radius: 3px;
        color: map-get($color, 'white');
        font-size: $text-regular;
        font-weight: $weight-regular;
        min-width: $sp-xxlarge;
        padding: $sp-small $sp-semi;
        width: 100%;
        // transition: all 0.05s ease-out;
        //     -webkit-transition: all 0.05s ease-out;
        //     -moz-transition: all 0.05s ease-out;
        //     -o-transition: all 0.05s ease-out;
    }

    &:active {
        padding: $sp-small;
        button {
            padding: $sp-tiny $sp-normal;
        }
    }

    // Destructive Variant
    &--destructive {
        background-color: rgba(177, 42, 11, 0.05); // TODO - Refactor to use color map
        
        &:hover {
            background-color: rgba(177, 42, 11, 0.15); // TODO - Refactor to use color map
        }

        button {
            background-color: map-get($color, 'brick');
        }
    }

    // Text Only Variant
    &--text-only {
        background: transparent;
        button {
            background: transparent;
            color: map-get($color, 'blue');
            padding: $sp-small 0;
        }
        &:hover {
            background-color: transparent; // TODO - Refactor to use color map
        }
        &:active {
            padding: $sp-tiny;
            button {
                margin: 0;
                padding: $sp-small 0;
            }                
        }
    }
}

.pa-button-group {

    @media screen and (min-width: $breakpoint-md) {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;   
        justify-content: left;

        & > * {
            width: auto; 
        }
    }
    

}