.pa-notification {
    background-color: $color-pale-yellow;   
    height: 60px;
    position: relative;

    p {
        font-family: $font-raleway;
        font-size: 0.75rem;
        margin: 0 4rem;
        text-align: center;
        @include vertical-align();
    }

    &--image-overlay {
        background-color: rgba($color-pale-yellow, .90);
    }

    &__icon {
        height: 20px;
        left: 1rem;
        position: absolute;
        top: 20px;
        width: 20px;
    }

    &__close {
        background: 0;
        border: 0;
        height: 20px;
        right: 1rem;
        position: absolute;
        top: 20px;
        width: 20px;

        & img {
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    &--confirm {
        background: $color-pale-green;

        &--image-overlay {
            background-color: rgba($color-pale-green, .90);   
        }
    
    }
}