.pa-textarea {
    
    background: map-get($color, 'white');
    border: 1px solid map-get($color, 'dark-gray');
    border-radius: 3px;
    box-sizing: border-box;
    color: map-get($color, 'dark-gray');
    font-size: 1rem;
    height: auto;
    line-height: 1.5em;
    min-height: 140px;
    padding: 20px 20px;
    vertical-align: top;
    width: 100%;

    &~label {
        background: map-get($color, 'white');
        left: 0;
        margin-left: 10px;
        padding: 0 10px;                    
        position: absolute;
        top: -0.5em;
    }
    
    &--valid {
        border-color: map-get($color, 'green'); 
    }

    &--error {
        border-color: map-get($color, 'brick'); 
    }

    p {
        .pa-error {
            color: map-get($color, 'brick'); 
            font-size: 0.75rem;
            line-height: 1.5em;
            margin: 1rem 20px 0;
        }
    }

    &:before {
        background: red;
        height: 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.pa-textarea ~ .pa-error {
    color: map-get($color, 'brick'); 
    font-size: 0.75rem;
    line-height: 1.5em;
    margin: 1rem 20px 0;
}