.textarea {
    
    background: map-get($color, 'white');
    border: 1px solid map-get($color, 'dark-gray');
    border-radius: 3px;
    padding: 20px 20px;
    color: map-get($color, 'dark-gray');
    font-size: 1rem;
    line-height: 1.5em;
    width: 100%;
    min-height: 140px;
    height: auto;
    box-sizing: border-box;
    vertical-align: top;

    &~label {
        position: absolute;
        top: -0.5em;
        left: 0;
        background: map-get($color, 'white');
        margin-left: 10px;
        padding: 0 10px;                    
    }
    
    &--valid {
        border-color: map-get($color, 'green'); 
    }

    &--error {
        border-color: map-get($color, 'brick'); 
    }

    &p {
        .error {
            color: map-get($color, 'brick'); 
            margin: 1rem 20px 0;
            font-size: 0.75rem;
            line-height: 1.5em;
        }
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: red;
        height: 5px;
    }
}

.textarea ~ p.error {
    color: map-get($color, 'brick'); 
    margin: 1rem 20px 0;
    font-size: 0.75rem;
    line-height: 1.5em;
}