@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

$font-nunito: 'Nunito Sans', Arial, Helvetica, sans-serif;
$font-raleway: 'Raleway', Arial, Helvetica, sans-serif;

$typography-base: 16px;

$color: (
    white: #fff,
    dark-gray: #595959,
    green: #029146,
    brick: #B12A0B
);

$offscreen: -9999rem;

html {
    font-size: $typography-base;
    font-family: $font-nunito;
    line-height: 1.5em;
    color: map-get($color, dark-gray);
}

.field {
    position: relative;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 1em;
    line-height: 1.5em
}

hr {
    border: 0;
    border-top: 1px solid map-get($color, dark-gray);
    margin: 1em 0;
}

@import 'label';
@import 'input';
@import 'textarea';
@import 'checkbox';