@import 'pa-core';

html {
    color: $color-dark-gray;
    font-size: $typography-base-size;
    font-family: $font-nunito;
    line-height: 1.5em;
}


html, body {
    margin: 0;
}

.hero {
    background: url(../images/deer.jpg); 
    background-size: cover;
    background-position: center center;
    height: 500px;
}

.bckg--deer {
    background: url(../images/deer.jpg);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
}