@import 'color';
@import 'typography';

$base-size: 16;
$offscreen: -9999rem;

@function rem2px($size) {
    $pxSize: parseNumber($size) * $base-size;
    @return $pxSize;
}

@function parseNumber($n) {
	@return $n / ($n * 0 + 1);
}

html {
    color: $color-dark-gray;
    font-size: $typography-base-size;
    font-family: $font-nunito;
    line-height: 1.5em;
}

html, body {
    margin: 0;
}

.pa-fieldset {
    margin-bottom: 2rem;
    position: relative;
}

hr {
    border: 0;
    border-top: 1px solid $color-dark-gray;
    margin: 2em 0;
}

.offscreen {
    left: $offscreen;
    position: absolute;
}


.bckg--deer {
    background: url(../images/deer.jpg);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
}

@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@import 'spacing';
@import 'grid';
@import 'label';
@import 'input';
@import 'textarea';
@import 'select';
@import 'checkbox';
@import 'radiobutton';
@import 'button';
@import 'list';
@import 'notification';
@import 'card';